In [2]:
# import block
import os, sys
import numpy as np
import pandas as pd

In [4]:
data_set = pd.read_csv('./data/IoTProcessed_Data.csv')
data_set

,date,tempreature,humidity,water_level,N,P,K,Fan_actuator_OFF,Fan_actuator_ON,Watering_plant_pump_OFF,Watering_plant_pump_ON,Water_pump_actuator_OFF,Water_pump_actuator_ON
0,2024-02-08 06:10:00,41,63,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
1,2024-02-08 06:15:00,41,59,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
2,2024-02-08 06:20:00,41,62,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
3,2024-02-08 06:05:00,40,60,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
4,2024-02-08 06:00:00,39,61,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37917,2024-02-02 22:20:00,3,59,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0
37918,2024-02-02 22:25:00,3,60,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0
37919,2024-02-02 22:30:00,3,60,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0
37920,2024-02-02 22:35:00,3,59,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0
37921,2024-02-02 22:40:00,3,59,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0