In [2]:
# import block
import os, sys
import numpy as np
import pandas as pd

In [3]:
data_set = pd.read_csv('./data/IoTProcessed_Data.csv')
data_set

,date,tempreature,humidity,water_level,N,P,K,Fan_actuator_OFF,Fan_actuator_ON,Watering_plant_pump_OFF,Watering_plant_pump_ON,Water_pump_actuator_OFF,Water_pump_actuator_ON
0,2024-02-08 06:10:00,41,63,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
1,2024-02-08 06:15:00,41,59,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
2,2024-02-08 06:20:00,41,62,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
3,2024-02-08 06:05:00,40,60,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
4,2024-02-08 06:00:00,39,61,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37917,2024-02-02 22:20:00,3,59,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0
37918,2024-02-02 22:25:00,3,60,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0
37919,2024-02-02 22:30:00,3,60,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0
37920,2024-02-02 22:35:00,3,59,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0
37921,2024-02-02 22:40:00,3,59,100,255,255,255,1.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
#Checking to see if this works

In [1]:
print("hey it's Lena and I'm short")

hey it's Lena and I'm short

In [4]:
#Lets assume we are interested in the data when the Fan_actuator is on 

on_data =  data_set[data_set['Fan_actuator_ON'] == 1]
on_data

,date,tempreature,humidity,water_level,N,P,K,Fan_actuator_OFF,Fan_actuator_ON,Watering_plant_pump_OFF,Watering_plant_pump_ON,Water_pump_actuator_OFF,Water_pump_actuator_ON
0,2024-02-08 06:10:00,41,63,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
1,2024-02-08 06:15:00,41,59,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
2,2024-02-08 06:20:00,41,62,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
3,2024-02-08 06:05:00,40,60,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
4,2024-02-08 06:00:00,39,61,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11757,2024-02-29 05:48:00,23,0,76,255,255,255,0.0,1.0,0.0,1.0,1.0,0.0
11758,2024-02-29 05:51:00,23,100,9,255,255,255,0.0,1.0,1.0,0.0,0.0,1.0
11759,2024-02-29 05:51:00,23,0,100,255,255,255,0.0,1.0,0.0,1.0,1.0,0.0
11760,2024-02-29 05:52:00,23,86,100,255,255,255,0.0,1.0,1.0,0.0,1.0,0.0
13703,2024-01-21 06:01:00,21,5,100,255,255,255,0.0,1.0,0.0,1.0,1.0,0.0